.filter-form{
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    flex-wrap: wrap;
}
.filter-container{
    width: 100%;
}

.top-container{
   flex-direction: column;
}
